snippet chore "Chore commit"
	chore(${1:module}): ${0:commit message}
snippet refactor "Refactor commit"
	refactor(${1:module}): ${0:commit message}
snippet feat "Feature commit"
	feat(${1:module}): ${0:commit message}
snippet test "Test commit"
	test(${1:module}): ${0:commit message}
snippet fix "Fix commit"
	fix(${1:module}): ${0:commit message}
